*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  }
   
  body {
    font: 100% sans-serif;
    margin: 0em;
    background-color: #fff;
    color: #666;
  }
  
  h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }
  
  a {
    color: #3d6dbe;
    text-decoration: none;
  }
  
  a:focus,
  a:hover {
    color: #6594e0;
  }
  
  p {
    font-size: 1em;
    line-height: 1.8;
    margin-top: 0em;
    line-height: 1.5rem;
    font-family: 'Lato', sans-serif;
  }
  
  img {
    max-width: 100%;
  }
  
  hr {
    border-top: 1px solid #ccc;
    border-bottom: none;
    margin-top: 3em;
    margin-bottom: 2em;
  }
  
  header {
    background-color: #999;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 4em;
    text-align: center;
    height: 500px;
   
  }
  
  header h1 {
    color: white;
    font-size: 2em;
    margin: 0;
    letter-spacing: 1px;
    opacity: 1;
    text-shadow: 0 3px 0 rgba(0,0,0, 0.5);
    position: relative;
    top: 370px;
    font-weight: 700;
  }
  
  header p {
    color: #fff;
    font-size: 1.1em;
    padding-bottom: 1.3em;
    padding-top: .5em;
    opacity: .9;
    position: relative;
    top: 360px;
  }
  
 
  /* Same font-size and line-height as p element */
  section ul li, section ol li {
    font-size: 0.9em;
    margin-left: -10px;
    line-height: 1.3;
    color: rgba(152, 154, 143, 1);
  }
  
  footer {
    margin-bottom: 1em;
    color: #888;
  }
  
  footer hr {
    margin-top: 2em;
    margin-bottom: 1em;
  }
  
  .center {
    text-align: center;
  }
  
  @media screen and (min-width: 50em) {
    header {
      height: 700px;
    }
    
    header h1 {
      font-size: 3.2em;
      top: 540px;
    }
    
    header p {
      top: 530px;
      font-size: 1.5em;
    }
  }
  
  
  /* ------------------- Grid -------------------*/
  
  .container {
    max-width: 70%;
    width:92%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .row {
    clear: both;
    margin-right: -1%;
    margin-left:  -1%;
    
  }
  
  .row:before,
  .row:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }
  
  .row:after {
      clear: both;
  }
  
  /**
   * For IE 6/7 only
   */
  .row {
    *zoom: 1;
  }
  
  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6 {
    float: left;
    width:100%;
    padding: 0 1%;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media screen and (min-width: 40em) {
    .grid-1 { width: 16.6666666%; }
    .grid-2 { width: 33.3333333%; }
    .grid-3 { width: 50%; }
    .grid-4 { width: 66.6666666%; }
    .grid-5 { width: 83.3333333%; }
    .grid-6 { width: 100%; }
  
  }
  

  @media screen and (min-width: 40em) {
    .gallery .grid-2 {
      width: 33.3333333%;
    }
  }
  
  /* Spotlight */
  .spotlight {
    background: rgba(41, 62, 73, 1);
    padding: 3em 1em;
    margin-bottom: 3em;
    text-align: center;
    background: rgba(41,62,73,1);
    background: -moz-linear-gradient(top, rgba(41,62,73,1) 0%, rgba(41,62,73,1) 36%, rgba(35,52,61,1) 91%, rgba(29,42,48,1) 95%, rgba(24,37,43,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(41,62,73,1)), color-stop(36%, rgba(41,62,73,1)), color-stop(91%, rgba(35,52,61,1)), color-stop(95%, rgba(29,42,48,1)), color-stop(100%, rgba(24,37,43,1)));
    background: -webkit-linear-gradient(top, rgba(41,62,73,1) 0%, rgba(41,62,73,1) 36%, rgba(35,52,61,1) 91%, rgba(29,42,48,1) 95%, rgba(24,37,43,1) 100%);
    background: -o-linear-gradient(top, rgba(41,62,73,1) 0%, rgba(41,62,73,1) 36%, rgba(35,52,61,1) 91%, rgba(29,42,48,1) 95%, rgba(24,37,43,1) 100%);
    background: -ms-linear-gradient(top, rgba(41,62,73,1) 0%, rgba(41,62,73,1) 36%, rgba(35,52,61,1) 91%, rgba(29,42,48,1) 95%, rgba(24,37,43,1) 100%);
    background: linear-gradient(to bottom, rgba(41,62,73,1) 0%, rgba(41,62,73,1) 36%, rgba(35,52,61,1) 91%, rgba(29,42,48,1) 95%, rgba(24,37,43,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#293e49', endColorstr='#18252b', GradientType=0 );
  }
  
  .spotlight img {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
  }
  
  .spotlight h1 {
    color: rgba(152, 154, 143, 1);
  }
  
  .spotlight p {
    color: #585858;
    font-size: 1.1em;
  }
  
  .spotlight a {
    background-color: transparent;
    padding: 7px 35px;
    border-radius: 3px;
    font-size: 1.1em;
    opacity: .8;
    margin-bottom: 10px;
  }
  
  .spotlight a:hover {
    opacity: 1;
    cursor: pointer;
  }
  
  @media screen and (min-width: 40em) {
    .spotlight {
      text-align: left;
    }
    
    .spotlight h1, .spotlight p {
      text-align: left;
    }
    
  }
  
  #btnShowAllClasses {
      color: #999;
      float: right;
      margin-top: -15px;
  }

  .grid-2 h2, .grid-2 h3{
    font-weight: bold;
  }