.linkedin {
	background: url('../img/linkedin-logo.svg') no-repeat top left;
}
.github {
	background: url('../img/github-sign.svg') no-repeat top left;
}
.instagram {
	background: url('../img/instagram-symbol.svg') no-repeat top left;
}
.email {
	background: url('../img/envelope.svg') no-repeat top left;
}
.footer-button {
    background-size: contain;
    display: inline-block;
    height: 16px;
    width: 16px;
    cursor: pointer;
    padding: 0 1em;
}

.img-button {
    background-size: contain;
    display: inline-block;
    height: 16px;
    width: 16px;
    cursor: pointer;
    margin: .5em;
    padding: 0 0 0 .5em;
}

.page-footer-name {
	font-size: 80%;
}
.br-flag {
	background: url('../img/brasil.svg') no-repeat top left;
}

.usa-flag {
	background: url('../img/reino-unido.svg') no-repeat top left;
}

.flag-button {
    background-size: contain;
    display: inline-block;
    height: 22px;
    width: 22px;
    padding: 0 1em;
}
