.media-icon {
    color: black; 
    margin: 0 3px;
}

.perfil-photo {
    margin-right: 30px;
    float: right;
    margin-right: 0px;
}

.flag-icon {
    background-color: transparent;
    border: 0;
}

.title {
    color: rgb(26, 26, 26);
    text-align: justify;
}

@media screen and (max-width: 1000px) {
    .title {
        text-align: center;
        margin: 1em;
    }

    .img-title {
        margin: 1em;
    }
  }

.title h6 {
    color: rgb(106, 105, 105);
}

.border-dark {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}

.border {
    border-width: .5em !important;
}

.header-content {
    padding: 5% 10% 2% 10%;
    
}

.header-content img {
    width: 250px;

    
}
.social-media-button {
    border: 0;
    background-color: transparent;
}
.social-media-button:hover {
    transform: scale(1.2);
}