.main-responsabilities, .major-achievements {
    padding: .5em;
    text-align: justify;
}

.experience-date {
    margin-bottom: 0px;
}

.experience-element {
    padding: 1em;
}

.experience-project {
    padding: .5em
}

@media screen and (max-width: 991px) {
    .experience-info {
        text-align: center;
    }
}